
body {
    margin: 0;
    line-height: normal;
    font-family: 'Montserrat';
    font-size: 22px;
    background-color: #000;
}


:root {
    
    /* fonts */
    --font-inter: 'Montserrat', sans-serif;
    
    /* font sizes */
    --font-size-8xl: 1.688rem;
    --font-size-4xl: 1.438rem;
    --font-size-11xl: 1.875rem;
    
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-firebrick: #ffffff00;
    --color-red: #944b2e;
    --color-turquoise: #18e8db;
    --color-mediumblue: transparent;
    --color-gray: #8b8484;
    
    /* Border radiuses */
    --br-36xl: 55px;
    --br-11xl: 30px;
    
}