.titlebar {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #fff59d;
    width: 90rem;
    height: 17rem;
}
.follow-us {
    position: absolute;
    top: 2.813rem;
    left: 4.625rem;
}
.how-can-we {
    position: absolute;
    top: 3.688rem;
    left: 68.438rem;
}
.twitter-icon {
    position: absolute;
    top: 4.269rem;
    left: 4.399rem;
    width: 3.7rem;
    height: 3.631rem;
    object-fit: cover;
}
.link-icon {
    position: absolute;
    top: 4.269rem;
    left: 0rem;
    width: 3.7rem;
    height: 3.631rem;
    object-fit: cover;
}
.ig-icon {
    position: absolute;
    top: 0rem;
    left: 4.361rem;
    width: 3.7rem;
    height: 3.631rem;
    object-fit: cover;
}
.fb-icon {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 3.7rem;
    height: 3.631rem;
    object-fit: cover;
}
.social-media {
    position: absolute;
    top: 6.188rem;
    left: 5.063rem;
    width: 8.1rem;
    height: 7.9rem;
}
.div {
    position: absolute;
    top: 0.75rem;
    left: 3.75rem;
    display: inline-block;
    width: 16.063rem;
    height: 3.544rem;
}
.phone-icon {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 3.75rem;
    height: 3.45rem;
    object-fit: contain;
}
.phone {
    position: absolute;
    top: 6.375rem;
    left: 67rem;
    width: 19.813rem;
    height: 4.294rem;
    text-align: left;
}
.donatebtn-child {
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 84px);
    border-radius: 45px;
    background-color: var(--color-red);
    width: 10.5rem;
    height: 4.5rem;
}
.donate {
    margin: 0;
}
.donate-now {
    position: absolute;
    top: calc(50% - 28.48px);
    left: calc(50% - 60.63px);
    display: inline-block;
    width: 7.763rem;
    height: 3.763rem;
}
.donatebtn {
    position: absolute;
    top: calc(50% + 24px);
    left: calc(50% - 81px);
    width: 10.5rem;
    height: 4.5rem;
    font-size: var(--font-size-4xl);
    color: var(--color-white);
}
.pehla-qadam-icon {
    position: absolute;
    top: 10.5rem;
    left: 71.5rem;
    width: 10.875rem;
    height: 3.438rem;
    object-fit: cover;
}
.national-commission-for {
    position: absolute;
    top: 2.813rem;
    left: 33.438rem;
    font-size: 0.875rem;
    display: inline-block;
    width: 23.563rem;
    height: 5.313rem;
}
.footer {
    position: absolute;
    top: 128.625rem;
    left: -0.187rem;
    width: 90rem;
    height: 17rem;
    font-size: var(--font-size-11xl);
}
.disability {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: var(--br-36xl);
    background-color: var(--color-gray);
    width: 24.688rem;
    height: 22.5rem;
}
.disability-quota {
    position: absolute;
    top: 12.875rem;
    left: 7.063rem;
}
.ops {
    position: absolute;
    top: 0rem;
    left: 56.5rem;
    border-radius: var(--br-36xl);
    background-color: var(--color-gray);
    width: 24.688rem;
    height: 22.5rem;
}
.operations {
    position: absolute;
    top: 14.25rem;
    left: 62.625rem;
}
.feeder-schools {
    position: absolute;
    top: 0rem;
    left: 28.25rem;
    border-radius: var(--br-36xl);
    background-color: var(--color-gray);
    width: 24.688rem;
    height: 22.5rem;
}
.feeder-schools1 {
    position: absolute;
    top: 10.688rem;
    left: 31.813rem;
}
.extra-info {
    position: absolute;
    top: 103.813rem;
    left: 4.438rem;
    width: 81.188rem;
    height: 22.5rem;
}
.adult-literacy-vid {
    position: absolute;
    top: 5.688rem;
    left: 0.188rem;
    background-color: var(--color-turquoise);
    width: 10.188rem;
    height: 8.063rem;
}
.adult-literacy-vid1 {
    position: absolute;
    top: 5.688rem;
    left: 12.688rem;
    border-radius: var(--br-11xl);
    background-color: var(--color-mediumblue);
    width: 68.688rem;
    height: 8.063rem;
}
.adult-literacy-vid2 {
    position: absolute;
    top: 28.313rem;
    left: 12.5rem;
    border-radius: var(--br-11xl);
    background-color: var(--color-mediumblue);
    width: 68.688rem;
    height: 8.063rem;
}
.adult-literacy-vid3 {
    position: absolute;
    top: 17rem;
    left: 12.688rem;
    border-radius: var(--br-11xl);
    background-color: var(--color-mediumblue);
    width: 68.688rem;
    height: 8.063rem;
}
.adult-literacy-vid4 {
    position: absolute;
    top: 28.313rem;
    left: 0.188rem;
    background-color: var(--color-turquoise);
    width: 10.188rem;
    height: 8.063rem;
}
.adult-literacy-vid5 {
    position: absolute;
    top: 17rem;
    left: 0.188rem;
    background-color: var(--color-turquoise);
    width: 10.188rem;
    height: 8.063rem;
}
.latest-news1 {
    position: absolute;
    top: 0rem;
    left: 32.063rem;
    text-decoration: underline;
}
.latest-news-child {
    position: absolute;
    top: 15.406rem;
    left: 0.156rem;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 81.25rem;
    height: 0.063rem;
}
.latest-news-item {
    position: absolute;
    top: 26.781rem;
    left: -0.031rem;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 81.25rem;
    height: 0.063rem;
}
.viewall-child {
    position: absolute;
    top: calc(50% - 17.5px);
    left: calc(50% - 67.5px);
    background-color: var(--color-red);
    width: 8.438rem;
    height: 2.188rem;
}
.view-all {
    position: absolute;
    top: calc(50% - 13.5px);
    left: calc(50% - 49.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.188rem;
    height: 1.75rem;
}
.viewall {
    position: absolute;
    top: calc(50% + 285.5px);
    left: calc(50% - 55px);
    width: 8.438rem;
    height: 2.188rem;
    font-size: var(--font-size-4xl);
    color: var(--color-white);
}
.latest-news {
    position: absolute;
    top: 62.375rem;
    left: 4.25rem;
    width: 81.375rem;
    height: 40.063rem;
    font-size: 2.938rem;
}
.adult-literacy-vid6 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: var(--br-36xl);
    background-color: var(--color-firebrick);
    width: 24.688rem;
    height: 22.5rem;
}
.adult-literacy-video {
    position: absolute;
    top: 12.875rem;
    left: 5.625rem;
}
.flood-relief {
    position: absolute;
    top: 0rem;
    left: 56.5rem;
    border-radius: var(--br-36xl);
    background-color: var(--color-firebrick);
    width: 24.688rem;
    height: 22.5rem;
}
.flood-relief-activities {
    position: absolute;
    top: 14.25rem;
    left: 59.063rem;
}
.flood-vid {
    position: absolute;
    top: 0rem;
    left: 28.25rem;
    border-radius: var(--br-36xl);
    background-color: var(--color-firebrick);
    width: 24.688rem;
    height: 22.5rem;
}
.flood-relief-vidwo {
    position: absolute;
    top: 10.688rem;
    left: 30.75rem;
}
.activities {
    position: absolute;
    top: 38.688rem;
    left: 4.438rem;
    width: 81.188rem;
    height: 22.5rem;
}
.photo-carousel{
    position: absolute;
    top: 9.688rem;
    left: 0rem;
    width: 90rem;
    height: 26.875rem;
    background-image: url("photos_ph.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbarbg {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #e7740a;
    width: 90rem;
    height: 9.688rem;
}
.about-us {
    position: absolute;
    top: 0.875rem;
    left: 5.875rem;
}
.programs {
    position: absolute;
    top: 0.875rem;
    left: 14.438rem;
}
.news {
    position: absolute;
    top: 0.875rem;
    left: 23.25rem;
}
.reports {
    position: absolute;
    top: 0.875rem;
    left: 28.938rem;
}
.partners {
    position: absolute;
    top: 0.875rem;
    left: 36.375rem;
}
.opportunities {
    position: absolute;
    top: 0.875rem;
    left: 44.313rem;
}
.faqs {
    position: absolute;
    top: 0.875rem;
    left: 56.375rem;
}
.contact-us {
    position: absolute;
    top: 0.875rem;
    left: 61.625rem;
}
.home {
    position: absolute;
    top: 0.875rem;
    left: 0rem;
}
.srchbtn-1-icon {
    position: absolute;
    top: 0rem;
    left: 71.75rem;
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
}
.nav {
    position: absolute;
    top: 2.938rem;
    left: 10.125rem;
    width: 75.5rem;
    height: 3.75rem;
}
.nchd-logo-icon {
    position: absolute;
    top: 0rem;
    left: 0.313rem;
    width: 9.75rem;
    height: 9.688rem;
    object-fit: cover;
}
.navbar {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 90rem;
    height: 9.688rem;
    text-align: left;
    font-size: var(--font-size-8xl);
    color: var(--color-white);
}
.nchd-home-page {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 145.625rem;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-4xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}